.color1 {
    color: #09292d;
}

.color2 {
    color: #1a5d7b;
}

.color3 {
    color: #26b79c;
}

.color4 {
    color: #b7d784;
}

.color5 {
    color: #e2dda5;
}

/* font-family: 'Silkscreen', sans-serif; */
/* font-family: 'Fira Sans', sans-serif; */

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    /* border: solid red 1px; */
}

body {
    background-color: #09292d;
    color: #e2dda5;
}

header {
    height: 25vh;
    background-color: #1a5d7b;
    font-family: 'Silkscreen', sans-serif;
}

main {
    min-height: 75vh;
}

footer {
    min-height: 25vh;
    background-color: #1a5d7b;
}

/* header edit */

.imgHeader {
    border-radius: 6rem;
}

.headerSubTitle {
    color: #26b79c;
}

@keyframes blinking {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.blinking {
    animation: blinking 1s infinite;
    animation-timing-function: steps(1, end);
}

/* main edit */

.mainFirst {
    height: 75vh;
    width: 100vw;
    font-family: 'Fira Sans', sans-serif;
    border-bottom: #b7d784 5px solid;
}

.firstLegendSubtitle {
    font-size: small;
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 65ch;

    animation: typing 7s steps(65) infinite,
        blink 0.5s infinite step-end alternate;
    animation-delay: 7s;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.mainSecond {
    /* height: 75vh; */
    width: 100vw;
    font-family: 'Fira Sans', sans-serif;
    border-bottom: #b7d784 5px solid;
}

.oList {
    font-size: small;
}

.miniPImg {
    height: 20rem;
    border: #26b79c 2px solid;
    padding: 1rem !important;
    margin: 0.5rem !important;
}

.projDesc {
    font-size: medium;
    color: #26b79c;
}

.linkIcon {
    color: #e2dda5;
}

.linkIcon:hover {
    color: #1a5d7b;
    transition: 0.5s;
}

.appText {
    font-size: small;
}

.arrowImgFirstProy {
    width: 10%;
}

/* footer edit  */

.techIcon {
    height: 3.5rem;
    padding: 0.3rem !important;
    margin: 1rem !important;
    background-color: #09292d58;
    border-radius: 1rem;
}

.techIconContainer {
    background-color: #7bd7c3
}

/* querys */

@media only screen and (max-width: 1325px) {
    .mainSecond {
        flex-direction: column;
        align-items: center;
    }

    .mainSecondReverse {
        flex-direction: column-reverse;
    }

    .iconReverse {
        flex-direction: row-reverse;
    }

    .widthChangerContainer {
        width: 85% !important;
    }
}

@media only screen and (max-width: 930px) {
    .headerChanger {
        height: 100vh !important;
    }

    .headerContainer {
        display: flex;
        flex-direction: column;
    }

    .headerDivOne {
        height: 48% !important;
    }

    .headerDivTwo {
        height: 48% !important;
    }

    .imgHeader {
        height: 70% !important;
    }

    .arrowIcon {
        display: none;
    }

    .mouseHeader {
        display: flex !important;
        justify-content: center;
        align-items: center;
        margin: 0.3rem !important;
    }

    .secondMouse {
        display: none !important;
    }
}

@media only screen and (max-width: 770px) {
    .mainFirst {
        align-items: center !important;
        gap: 1rem;
        min-height: 20vh !important;
        margin-top: 2rem !important;
    }

    .descriptionContainer {
        height: 50% !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .secondMouseContainer {
        display: none !important;
    }

    .techIconContainer {
        width: 95% !important;
    }

    .userLinkContainer {
        width: 30% !important;
    }
}

@media only screen and (max-width: 720px) {
    .miniPImg {
        height: 15rem;
        border: #26b79c 2px solid;
        padding: 1rem !important;
    }
}

@media only screen and (max-width: 650px) {
    .mainFirst {
        flex-direction: column;
        align-items: center !important;
    }

    .descriptionContainer {
        width: 95% !important;
    }

    .userLinkContainer {
        display: none !important;
    }

    .linkChanger {
        display: flex !important;
        gap: 1rem;
        margin: 0.5rem !important;
        margin-bottom: 5rem !important;
    }

    .techIcon {
        height: 2.5rem;
        padding: 0.3rem !important;
        margin: 1rem !important;
    }
}

@media only screen and (max-width:550px) {
    .imgHeader {
        height: 40% !important;
    }
}

@media only screen and (max-width:480px) {
    .miniPImg {
        height: 12rem;
    }
}

@media only screen and (max-width:450px) {
    .miniPImg {
        height: 10rem;
    }

    .proyectText {
        font-size: smaller;
    }

    .widthChangerContainer {
        padding: 0rem !important;
        margin: 0.3rem !important;
    }
}

@media only screen and (max-width: 420px) {
    .descriptionText {
        padding: 0.5rem !important;
    }

    .widthChangerContainer {
        width: 95% !important;
        padding: 0.5rem !important;
    }

    .miniPImg {
        height: 10rem;
    }

    .finalMainContainer {
        margin: 0rem !important;
    }
}

@media only screen and (max-width: 375px) {
    .imgHeader {
        height: 35% !important;
    }

    .techIcon {
        height: 2.0rem;
        padding: 0rem !important;
        margin: 0.2rem !important;
    }

    .proyectLinkContainer {
        margin: 0.2rem !important;
    }

    .userLink {
        font-size: smaller;
    }
}